.clients-title {
    display: block;
    margin-bottom: 50px;
    margin-top: 60px;
    font-weight: bold;
    font-size: 28px;
    line-height: calc(33 / 28);
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    color: #212121;
}
.logo-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 92px;
    margin-left: 30px;
    margin-top: 30px;

    flex-basis: calc((100% - 60px) / 2);
}
.logo-icon {
    // width: 106px;
    // height: 60px;
    fill: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .logo__item:hover &,
    .logo__item:focus &,
    .logo__link:hover &,
    .logo__link:focus & {
    fill: #2196F3;
    }
}

.logo__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    border: 1px solid var(--accent-color);
    }
    @media screen and (min-width: 768px) {
        .clients-list__item {
          width: calc((100% - 90px) / 3);
        }
      }
      
      @media screen and (min-width: 1200px) {
        .clients-list__item {
          display: flex;
          flex-basis: calc((100% - 180px) / 6);
        }
}
}

.logo__item {
    // width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    // margin-left: 30px;
    // margin-top: 30px;
    width: calc((100% - 60px) / 2);
    margin-bottom: 30px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    border: 1px solid var(--accent-color);
    }
    &:not(:last-child) {
        margin-right: 30px;
    }
} 