.footer-right {
    // margin-left: 70px;
    // width: 100%;
    // text-align: center;
    // align-items: center;

    height: auto;
    text-align: center;
    display: block;
    margin-bottom: 60px;

}
.footer-left {
    flex-shrink: 0;
    // width: 100%;
    // text-align: center;
    // align-items: center;
    // margin-right: 100px;
    // // margin-left: 100px;
    // margin-bottom: 60px;
    display: block;
    text-align: center;
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-right: 70px;
        text-align: start;
    }
    
}
.footer-contacts {
    display: block;
    @media screen and (max-width: 480px) {
    margin-left: 124px;
}
    @media screen and (min-width: 768px) {
    width: 768px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 61px;
    padding-right: 74px;
    align-items: baseline;
}
@media screen and (min-width: 1200px) {
    // width: 1200px;
    padding-left: 0;
}
}

.footer .container {
    display: flex;
    align-items: baseline;
    width: 768px;
    margin: 0 auto;
    // justify-content: center;
    @media screen and (min-width: 768px) {
        justify-content: center;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
        // text-align: left;
        display: flex;
    flex-direction: row; 
   
}
}
.footer {
    color: #FFFFFF;
    background-color: #2F303A;
    // display: flex;
    // align-items: baseline;
    // flex-wrap: nowrap; 
    padding-top: 60px;
    padding-bottom: 60px;
     @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around
        // padding-left: 76px;
    // padding-right: 89px;
  }
    @media screen and (min-width: 1200px) {
        min-width: 1200px;
        padding-top: 72px;
        padding-bottom: 0px; 
        text-align: left;
        display: flex;
        // flex-wrap: nowrap;
        flex-direction: row;    

        justify-content: space-between;
        align-items: baseline;
    }
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // @media screen and (min-width: 768px) {
    //     // width: 768px;
    //     flex-direction: column;
    // }  
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        // flex-direction: row;
        // justify-content: space-between;
} 
}
.footer-social-networks {
    // display: flex;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    }
.footer-social-logo {
    display: flex;
    justify-content: center;
}
.footer-social-logo__item {
    &:not(:last-child) {
        margin-right: 10px;
    }    
}
.footer-social-logo__link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #2196F3;
    }
}
.footer-social-logo__icon {
    fill: #fff;
}

.footer-logo {
    font-family: Raleway;
    font-style: normal;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.03em;
    margin-bottom: 20px;
} 
.footer-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer-list__address {
    display: block;
    // align-items: center;
    // text-align: center;
    // flex-wrap: nowrap;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 8px;    

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__tel {
    display: block;
    margin-top: 8px;
}

.footer-list__mail,
.footer-list__tel
{  text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-data {
    text-decoration: none;
    font-weight: normal;
}

.footer-subscription {
    // width: 100%;
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin-left: 93px;
    // margin-right: 0;
    margin-bottom: 20px;
    // @media screen and (min-width: 768px) {
    //     display: flex;
    //     margin: 0;
    //     flex-direction: column;
    //     align-items: center;
    // }
    @media screen and (min-width: 1200px) {
flex-direction: row;       
align-items: baseline;
        margin-bottom: 0;

    }

}
.footer-subscription-title {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
    text-align: start;
}
}
.sbscr-nowrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 1200px) {
    align-items: start;
    }
    
}
.subscription-mail-text {
    margin-left: 15px;
    margin-right: 15px;
    outline: none;
    padding: 15px 16px;
    width: 450px;
    height: 50px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        border: 1px solid var(--accent-color);
    }
    &::placeholder{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.6);
    }
    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-left: 0;
    }
}

.footer-button {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: 0;
    padding: 10px 28px;
    min-width: 200px;
    height: 50px;
    // margin-top: 20px;
    // margin: auto;
    // margin-left: 140px;

    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    // margin-left: 12px;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #2196F3;
}
// flex-wrap: wrap;
@media screen and (max-width: 785px) {
    margin-top: 20px;
}
@media screen and (min-width: 1200px) {
    margin-left: 0;
}
}
.footer-button-icon {
    margin-left: 10px;
    fill: #FFFFFF;
}