
.contact__mail,
.contact__tel,
.header__link {
    // display: none;
    @media screen and (max-width: 480px) { 
        display: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
    
    @media screen and (min-width: 768px) { 
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}
.header-list__item {
    
    @media screen and (min-width: 480px) { 
        display: none;
    }
    @media screen and (min-width: 768px) { 
    position: relative;
    display: flex;
    &:not(:last-child) {
        margin-right: 50px;
    }
    &:hover .header-list__link,
    &:focus .header-list__link {
        color: #2196F3;
    }
}
}
.header-list__link .current {
color: var(--accent-color);
}
.header-list {
    display: flex;
    @media screen and (max-width: 480px) { 
        display: none;}
    @media screen and (max-width: 768px) { 
        display: flex;
        align-items: flex-end;}
    
}
.header-logo {
    font-family: Raleway;
    font-style: normal;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    margin-left: 15px;
    margin-bottom: 16px;
    margin-top: 16px;
    // margin-right: 93px;
    // margin-left: auto;
    @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}
.accent-logo {
    color: var(--accent-color); 
}
.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
} 
.header-list__link {
    // display: none;
    
    @media screen and (min-width: 768px) { 

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    .header-list &:focus {
        color: #2196F3;
    }
}
}

.contact__mail {
    // display: none;
    
    @media screen and (min-width: 768px) { 

    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;

    margin-right: 50px;

    &:hover,
    &:focus,
    &:hover .header-mail-icon,
    &:focus .header-mail-icon {
    color: #2196F3;
    }
}
}
.contact__mail-icon {
    @media screen and (min-width: 768px) { 

    width: 16px;
    height: 12px;
    
    .contact__mail:hover &,
    .contact__mail:focus & {
        fill: #2196F3;
    }
}
}
.contact__tel-icon {
    width: 10px;
    height: 16px;

    .contact__tel:hover &,
    .contact__tel:focus & {
        fill: #2196F3;
    }
}
.contact__tel .contact__tel-icon, .contact__mail .contact__mail-icon {
    margin-right: 10px;
    fill: #757575;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact {
display: none;    
    @media screen and (min-width: 768px) { 
        display: flex;
    // margin-left: auto;
    align-items: center;
    align-items: flex-start;
    flex-direction: column;
align-items: flex-end;}
@media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: auto;
  }
}
.contact__mail {
    @media screen and (min-width: 768px) { 
    align-items: flex-end;
margin-right: -10px;
margin-bottom: 10px;
}
@media screen and (min-width: 768px) { 
    margin: 0 30px 0 0;
}
}

.contact__tel  {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:#757575;
    text-decoration: none;

    &:hover,
    &:focus,
    &:hover .contact__tel-icon,
    &:focus .contact__tel-icon {
    color: #2196F3;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
    }
}
.main-nav {
    height: 60px;
    display: flex;
  
    align-items: center;
    justify-content: space-between;
  
    @media screen and (min-width: 768px) {
      height: 80px;
    }
    @media screen and (min-width: 1200px) {
      justify-content: center;
    }
}
    
.auth-nav {
        display: flex;
        justify-content: flex-end;
        @media screen and (min-width: 768px) { 
              display: flex;
              flex-wrap: wrap;
              width: min-content;
              margin-right: 15px;
            }
            @media screen and (min-width: 1200px) {
              flex-wrap: nowrap;
              padding-top: 21px;
              padding-bottom: 21px;
              margin-left: auto;
              width: 100%;
            }
    }

// .button-menu-icon {
//     display: inline-flex;
//     margin: 0;
//     padding: 0;
//     border: none;
//     background-color: transparent;
    
// }
// .button-menu .icon-close-mob {
//     display: none;
// }
// .button-menu .is-open .icon-close-mob {
//     display: block;
//     @media screen and (min-width: 768px) { 
//         display: none;
// } 
// }
// .button-menu .is-open .icon-menu-mob {
//     display: none;
// }
.button-menu {
    display: inline-flex;
    background-color: transparent;
    border: none;
    margin-right: 15px;
    padding: 0;
    &:hover,
    &:focus {
    fill: #2196F3;
    }
    
    @media screen and (min-width: 768px) { 
        display: none;
} 
}

.mob-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding-left: 40px;
    background-color: #fff;
    top: 0;

    padding-right: 25px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.04),0px 2px 4px rgba(0,0,0,0.08),0px 1px 3px rgba(0,0,0,0.16);
}
.menu-close {
    display: block;
    background-color: transparent;
    border: none;
    margin-left: auto;
    padding: 0;
    margin-top: 10px;
    &:hover,
    &:focus {
    fill: #2196F3;
    }
}
.mob-menu.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.mob-menu-list__item:not(:last-child) {
    margin-bottom: 32px;
}
.mob-menu-list__link {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    color: #212121;
    &:hover,
    &:focus { 
        color: #2196F3;
    }
}
.mob-menu__tel {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;
    margin-bottom: 32px;

    color: #2196F3;
}
.mob-menu__mail {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
margin-bottom: 64px;
    color: #757575;
}
.mob-menu__social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
}
.mob-menu__social-item { 
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    text-decoration: none;

    color: #2196F3;
    &::before {
        content: "";
        display: block;
        width: 1px;
        height: 22px;
        background-color:#21212133;
        flex-shrink: 0;
        margin-right: 10px;
        margin-left: -10px;
      }
      &:nth-of-type(1):before {
        background-color: #ffffff;
      }
  }

.mob-menu__social-link {
    text-decoration: none;
    color: #2196F3;
}

.mob-menu__social-item:not(:last-child) {
    margin-right: 20px;
}
.mob-menu-box {
    position: absolute;
    bottom: 0;
    margin-bottom: 48px;
    margin-top: auto;
}